.noData{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noData>img{
    width: 20%;
}

.noData>h2{
    color: var(--color1);
    font-size: 6rem;
}