.Loudtitulo,
.Loudimg,
.LoudThead,
.LoudTBody,
.loudDetails {
    animation: Gradient 5s ease infinite;
    background: linear-gradient(90deg, #e0e0e0, #cfcfcf, #e0e0e0); /* Fallback */
    background-size: 200% 200%; /* Garante o movimento do gradiente */
}

@keyframes Gradient {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
