/* ---------------------------------------------- */
/* GERAL */
*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  color:#404040;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  z-index: 0;
}

path {
  fill: #fff;
}

body{
  background-color: #ffffff;
}

#__main::-webkit-scrollbar {
  width: 5px;
}

#__main::-webkit-scrollbar-track {
  background: transparent;
}

#__main::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
}

#__main{
  background-color: #ffffff;
  position: absolute;
  top:0;
  width: 100vw;
  height: 85vh;
  z-index: -1;
  overflow-y: auto;
}

footer{
  position: absolute;
  bottom: 0;
  height: 8vh;
  width: 100%;
  background-color: #007db9 ;
  color: #fff;
  text-align: center;
  font-size: .8rem;
  padding: 1rem;
}

footer > a{
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-left: .3rem;
}

/* ---------------------------------------------- */
/* PRELOAD */
#preload {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  background: linear-gradient(180deg, #017cb8, #074e82);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -1s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


/* ---------------------------------------------- */
/* ANIMATIO */
button{
  width: 100%;
  padding: .5rem;
  border-radius: .5rem;
  border: none;
  background-color: #007db9;
  color: #fff;
  font-size: .8rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all .2s;
}

button:active::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  opacity: 0.5;
}

/* ---------------------------------------------- */
.socialTable:first-child {
  border-right: 1px solid #d1d1d1;
}

.facebook >path {
  fill: #007db9!important;
}

.instagram >path {
  fill:#df0572!important;
}

.whatsapp >path {
  fill: #008307!important;
}

.search >path {
  fill: #007db9!important;
}

input {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #f3f3f3;
  color: #8d8d8d;
  border: 1px solid rgba(137,175,0,0);
  transition: all .2s;
}

input:focus {
  color: #404040;
}

input:focus-visible {
  border: 1px solid #007db9;
  outline: 0 auto -webkit-focus-ring-color;
}


.ScreenBlockPanel{
  background-color: #007db9;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ScreenBlockPanel > div{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
}

.ScreenBlockPanel > div > p,.ScreenBlockPanel > div > h3,.ScreenBlockPanel > div > svg > path{
  color:#ffffff;
  padding: 1rem 0;
}

.ScreenBlockPanel > div > h3{
  font-size: 3rem;
  padding-bottom: 0;
}

.ScreenBlockPanel > div > button{
  border: 0;
  cursor: pointer;
  width: 60%;
  font-size: 1rem;
  padding: .8rem;
  border-radius: .5rem;
  background-color: #ffffff;
  color: #c0191f;
  transition: all .2s;
}

.ScreenBlockPanel > div > button:active{
  background-color: #c0191f;
  color: #ffffff;
}

.ScreenBlockPanel > div > svg{
  font-size: 9rem;
}

.loginpage{
  width: 100%;
  padding: 1rem .5rem;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginpage > svg,.loginpage > svg > path{
  font-size: 9rem;
  fill: #008CBA;
  padding-bottom: 2rem;
}


.loginpage > h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}


.loginpage > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  padding: 0 .2rem;
}

.loginpage > form > input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.loginpage > form > button[type="submit"] {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loginpage > form > button[type="submit"]:hover {
  background-color: #005f6b;
}
