@media only screen and (max-width: 800px) {

    /*----------- Main-one ------------*/
    .main-one{
        padding: 120px 10px;
    }

    .main-one h3{
        font-size: 2.5rem;
    }

    .main-one p{
        padding: 0 10px;
    }

    .mo-items{
        border-bottom: 2px solid rgb(0 0 0 / 0.2) ;
    }

    .mo-items h3{
        font-size: 25px;
    }
    .mo-items p{
        font-size: 1rem;
    }

    /*----------- Footer ------------*/
    footer {
        padding-top: 60px !important;
        padding: 20px 10px;
    }
    .fl-top p{
        padding: 20px 2%;
    }

    .fl-middle{
        flex-direction: column;
    }

    .fl-middle-contact h3{
        text-align: center;
    }

    .fl-middle-form input,.fl-middle-form textarea,.fl-middle-form div{
        width: 100%;
    }

    .fl-bottom {
        flex-direction: column;
    }

    .fl-bottom div{
        justify-content:center;
    }

    .fl-bottom-social a {
        padding-top: .5%;
    }

    .fl-bottom-social {
        justify-content: center;
    }

    /*----------- NavBar ------------*/
    .navbar{
        padding: 5px 10px ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar ul{
        display: none;
    }
}
    
@media (min-width: 360px) and (max-width: 370px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 1024px) and (max-width: 1080px) {}