.table-container {
    width: 100%;
    padding: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-radius: .2rem;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table thead tr {
    background-color: var(--color1);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
}

.table th,
.table td {
    padding: .4rem .5rem;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.table button {
    padding: .2rem;
    margin: 0 5px;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.table button span{
    font-size: 1.45rem !important;
}

.table button.edit {
    background-color: var(--color4);
    color: white;
}

.table button.edit:hover {
    background-color: var(--color4_hover);
}

.table button.delete {
    background-color: var(--color2);
    color: white;
}

.table button.delete:hover {
    background-color: var(--color2_hover);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
    background-color: #009879;
    color: white;
}

.pagination span {
    margin: 0 10px;
    font-size: 16px;
}