html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 350px;
  padding: 0 2%;
}

header > img {
  width: 100%;
  height: 100%;
}

footer {
  background: linear-gradient(135deg, rgba(2,8,115,1) 20%, rgba(20,23,78,1) 100%);
  position: relative;
  bottom: 0;
  width: 100%;
  color:#fff;
}

@media only screen and (max-width: 480px) { 
  header {
    height: 150px;
  }
  
}